@import "./reset";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@mixin center() {
  display: flex;
  align-items: center;
}

#root {
  height: inherit;
}


body {
  background: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins';
  .app__bottom {
    color: white;
    font-family: "Poppins";
    text-align: center;
  }
  .app__cards {
    display: flex;
    flex: 1 1 auto;
    gap: 25px;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
    align-items: center;
    & > * {
      flex: 0 0 auto;
    }
    @media(max-width: 990.98px) {
      &{
        justify-content: flex-start;
        height: 100%;
      }
    }
  }
  .justify-content {
    justify-content: start;
  }
  p{margin: 0};
}



.card {
  width: 450px;
  height: 575px;
  border-radius: 45px;
  background-color: rgba(0,0,0,0.2);
  padding: 47px 35px 59px 35px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media(max-width:767.98px){
    &{
      padding:25px 23px 25px 23px;
    }
  }
  @media (max-width: 990.98px) {
    &{
      width: 400px;
      height: 500px;
      gap: 20px;
    }
  }
  @media (max-width: 767.98px) {
    &{
      width: 300px;
      height: 400px;
      gap: 10px;
    }
  }
  .card__up-block {
    display: flex;
    align-items: center;
    gap: 17px;
    .card__big-icon {
      width: 100px;
    }
    .card__after-img-block {
      .card__city {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin: 0;
        font-family: 'Poppins';
        @media (max-width: 767.98px){
          &{
            font-size: 18px;
          }
        }
      }
      .card__date {
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        @media (max-width: 767.98px){
          &{
            font-size: 12px;
          }
        }
      }
    }
  }
  .card__temperature {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    @media (max-width: 767.98px) {
      & {
        margin-bottom: 10px;
      }
    }
    .card__tmp-numb {
      display: flex;
      justify-content: center;
      margin-left: 5%;
      @media (max-width: 767.98px) {
        &{
          font-size: 19px;
        }
      }
      @media (max-width: 767.98px) {
        &{
          .card__numb {
            font-size: 100px;
          }
        }
      }
      span{
        font-weight: 300;
        font-size: 144px;
        line-height: 140px;
      }
      @media(max-width: 767.98px) {
        span {
          line-height: 110px;
        }
      }
    }
    .card__clouds {
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      @media(max-width: 767.98px) {
        font-size: 16px;
      }
    }
  }
  .card__stats {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767.98px) {
      &{
        font-size: 9px;
      }
    }
    .card__line {
      height: 19px;
        display: inline-block;
        background-color: white;
        width: 1px;
    }
    .card__left-block {
      display: flex;
      flex-direction: column;
      gap: 25px;
      .card__left-item {
        display: flex;
        align-items: center;
        gap: 50px;
        @media (max-width: 990.98px) {
          &{
            gap: 25px
          }
        }
        @media (max-width: 767.98px) {
          &{
            gap: 25px
          }
        }
        div {@include center();gap: 5px;}
        display: flex;
        justify-content: space-between;
      }
    }
    .card__right-block {
      display: flex;
      flex-direction: column;
      gap: 25px;
      .card__right-item {
        div {@include center();gap: 5px;}
      }
    }
  }
}

.app__form {
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: inherit;
    height: inherit;
    input {
      width: 55%;
      height: 10%;
      border-radius: 45px;
      padding: 10px 15px;
      outline: none;
      background-color: rgba(0,0,0,0.15);
      color: white;
      font-family: "Poppins";
      text-align: center;
      &::placeholder {
        color: white;
        font-family: "Poppins";
        text-align: center;
      }
      &:focus::placeholder{
        color: transparent;
      }
    }
    button {
      width: 25%;
      height: 25%;
      font-size: 80px;
      font-family: "Poppins";
      font-weight: 300;
      color: white;
      background-color: rgba(0,0,0,0.15);
      border-radius: 30px;
    }
  }
  width: 450px;
  height: 575px;
  border-radius: 45px;
  background-color: rgba(0,0,0,0.2);
  padding: 47px 35px 59px 35px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  @media(max-width:767.98px){
    &{
      padding:25px 23px 25px 23px;
    }
  }
  @media (max-width: 990.98px) {
    &{
      width: 400px;
      height: 500px;
      gap: 20px;
    }
  }
  @media (max-width: 767.98px) {
    &{
      width: 300px;
      height: 400px;
      gap: 10px;
    }
}}

